*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    background-color: #CCC;
    gap: var(--cell-gap);
    border-radius: 1vmin;
    padding: var(--cell-gap);
    position: relative;
}

.cell {
    background-color: rgb(38, 104, 83);
    border-radius: 1vmin;
}

.flip-card {
    position: absolute;
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: transparent;
    border-radius: 1vmin;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 1vmin;
}

.flipped {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-back {
    background-color: rgb(121, 184, 120);
    color: black;
}

.flip-card-front {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

.image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.flip-card-back .image {
    width: 45%;
    height: 45%;
}
